<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>NESTA-NMR</title>	
  <link rel="stylesheet" type="text/css" href="../static/style.css">
  <link rel="stylesheet" type="text/css" href="../static/custom.css">
  <!-- // <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script> -->

 </head>  
  
<body>
	<div class="box">
		<h1 align="center" style="font-size:100px">404</h1>

<img alt="" src="/static/cube.png" title="" align="middle" style="padding-left:75px !important;">
<!-- <img alt="" src="/static/transparency.gif" loop=infinite title="" align="middle" style="padding-left:0px !important;"> -->

<h3 align="center">Page not found.</br>It looks like you are lost in the matrix!</h3>

<div class="footer">
  {% include 'footer.html' %}
</div>

</div>

</body>
</html>
