<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Success</title>	
  <link rel="stylesheet" type="text/css" href="../static/style.css">
  <link rel="stylesheet" type="text/css" href="../static/custom.css">
  <!-- // <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script> -->

  <!-- <style type="text/css">
    h1 { margin: 0 0 30px 0; background: url(/static/logo.png) no-repeat center; height: 165px; }
    h1 span, p.tagline { display: none; }
  </style>-->

</head>  
  
<body>
	<div class="box">
		<h1 align="center" style="font-size:100px">Success!</h1>

<img alt="" src="../static/cube.png" title="" align="middle" style="padding-left:75px !important;">

<p>You're all set, {{ name }}! A download link for NESTA-NMR has been sent to you at {{ email }}. This link will be active for 24 hours.</p>
<p>Please check your spam folder if you do not see an email from {{ admin_email }} within a few minutes of placing your request.</p>


<div class="footer">
  {% include 'footer.html' %}
</div>

</div>

</body>
</html>
